<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        insert into dish_flavor
    (dish_id, name, value)
        values
            <foreach item="dishFlavor" collection="dishFlavors" separator="," open="(" close=")">
                (#{dishFlavor.dishId}, #{dishFlavor.name}, #{dishFlavor.value})
            </foreach>
        <!-- 注意：MyBatis 会自动将实体类中的主键属性（如 id）设置为数据库中生成的主键值 -->
    </insert>
    <delete id="deleteByDishIds" parameterType="java.util.List">
        delete from dish_flavor where dish_id in
        <foreach item="dishId" collection="dishIds" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </delete>
</mapper>